/* common */
.lazyload-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* main */
.mining-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.mining-main__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mining-main__balance {
  position: absolute;
  left: 0;
  top: 74px;
  height: 7vh;
  background-color: black;
  width: 100%;
  padding: 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.battery-power {
  position: relative;
  margin-top: 5%;
  display: flex;
  align-self: center;
  align-items: flex-end;
  justify-content: space-around;
  width: fit-content;
}

.battery-power__lightning {
  width: 1.5rem;
  margin-bottom: 5px;
}

.level {
  width: 100%;
  padding: 0 10px 0 10px;
  display: flex;
  align-items: center;
}

.level__info {
  display: flex;
}

