.generator {
  width: 100%;
  margin-top: 10%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.generator__level {
  z-index: 3;
  display: flex;
  justify-content: space-between;
}

.geterator__rotateContainer {
  z-index: 2;
  margin-top: -6%;
  border-radius: 50%;
  width: 75%;
}

.geterator__img {
  width: 100%;
}

.generator__power {
  padding: 10px;
  width: 100%;
}

.generator__lightning {
  margin-bottom: 0.7%;
  height: 14px;
  align-self: flex-end;
}
