.mining-info__body {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  height: 100vh;
  background: rgb(9, 10, 15);
  overflow: hidden;
}

.mining-info__gen {
  position: absolute;
  width: 100%;
  left: 0;
}

.mining-info__header {
  position: absolute;
  top: 10px;
  left: 4%;
  height: 7vh;
  z-index: 10;
  width: fit-content;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mining-info__lightning {
  width: 3vh;
  z-index: 2;
  position: absolute;
  animation: puls 2s infinite;
  filter: drop-shadow(0 0 10px #00c1ff);
}

@keyframes puls {
  0%,
  100% {
    transform: scale(1);
    filter: drop-shadow(0 0 10px #00c1ff);
  }
  50% {
    transform: scale(1.15);
    filter: drop-shadow(0 0 20px #00c1ff);
  }
}

.mining-info__logo {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
  width: 25%;
}

.info-text {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-text__title {
  color: white;
  font-size: 27px;
  font-weight: 500;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.info-text__desc {
  margin-top: 7px;
  color: #abb3b6;
  font-size: 18px;
  font-weight: 500;
}

.mining-loader {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    270deg,
    rgba(3, 50, 56, 0.7),
    rgba(5, 23, 43, 0.7),
    rgba(8, 38, 49, 0.7)
  );
  background-size: 600% 600%;
  animation: gradient 3s ease infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
}

@keyframes bounce {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
