.home {
  position: relative;
}

.home .go157313249 {
  background: #0098ea;
}

.home .go157313249 svg {
  filter: brightness(2);
}

.home__list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.home__list > li {
  width: 100%;
  height: 64px;
  border-top: 1px solid #cecdd4;
}

.home__list_dark > li {
  border-top: 1px solid #2c353e;
}

.home__list > :nth-last-child(2) {
  border-bottom: 1px solid #cecdd4;
}

.home__list_dark > :nth-last-child(2) {
  border-bottom: 1px solid #2c353e;
}

.home__list > li > a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.home__list > li > a span {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #090628;
  font-size: 16px;
  font-weight: 500;
}

.home__list_dark > li > a span {
  color: white;
}

.home__list_dark svg {
  color: white;
}

.mining {
  overflow: hidden;
  position: relative;
  background-image: url(../../../public/images/preview-back.png);
  background-size: cover;
  width: 100% !important;
  height: 107px !important;
  margin-top: 20px;
  background-color: rgb(11, 68, 62);
  border-radius: 20px;
}

.preview-gen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.mining__link {
  position: relative;
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 3;
}

.mining__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 13px;
}

.mining__title-container {
  display: flex;
  justify-content: flex-start;
}

.mining__title {
  color: white !important;
  z-index: 2;
}

.home__list > :last-child > a > div > svg {
  color: white;
  z-index: 2;
}

.home__list > :last-child > a > div > div > img {
  margin-right: 8px;
  position: relative;
  z-index: 2;
}

.mining__info {
  position: relative;
  display: inline-block;
  color: #abb3b6 !important;
  width: 70%;
  margin: 6px 0 0 32px;
  z-index: 2;
}

/* ========= ton_accsess ========= */
.ton_accsess {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  z-index: 999;
  background: rgba(0, 0, 0, 0.069);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.ton_accsess.active {
  display: none;
}

.ton_accsess > h1 {
  font-size: 20px;
  font-weight: 500;
  color: #090628;
}

.ton_accsess__label > div {
  display: none;
}

.ton_accsess__label {
  width: 280px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #009ed8;
  border-radius: 10px;
  color: #fff;
}

.ton_accsess__label > span {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ton_accsess__label > span svg {
  font-size: 20px;
}

/* --------- loading-home --------- */
.loading-home {
  width: 100%;
  padding: 15% 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-home p {
  font-size: 20px;
  font-weight: 500;
  color: #090628;
}

@keyframes buy-gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 400%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.buy-link {
  background: linear-gradient(270deg, #0034bb, #090628);
  background-size: 400% 400%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: buy-gradient 3s ease infinite;
}

.buy-link_dark {
  background: linear-gradient(270deg, #2280c4, #ffffff);
  background-size: 400% 400%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: buy-gradient 3s ease infinite;
}
