.profile__progress {
  position: relative;
  top: 8vh;
  left: 50%;
  transform: translate(-50%, 0);
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile__nickname {
  color: rgba(255, 255, 255, 0.64);
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 15px;
}

.profile__powerBeforeNextLevel {
  font-size: 16px;
  background: linear-gradient(
    0deg,
    rgba(0, 193, 255, 1),
    rgba(100, 252, 215, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.rate {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  top: 12vh;
}

.rate__title {
  font-size: 20px;
  font-weight: 600;
  background: linear-gradient(
    0deg,
    rgba(0, 193, 255, 1),
    rgba(100, 252, 215, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.rate__card {
  margin-top: 15px;
  background: #027ea7;
  width: calc(100% + 20px);
  height: 60px;
}

.rate__position {
  width: 45px;
  height: 45px;
  color: white;
  font-size: 14px;
}

.rate__power {
  background: linear-gradient(
    0deg,
    rgba(0, 193, 255, 1),
    rgba(100, 252, 215, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.profile__refContainer {
  margin-top: 35px;
}

.ref__container {
  transform: translate(-10px, 0);
  background: rgba(38, 38, 38, 1);
  width: calc(100% + 20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ref__title {
  margin: 13px 0;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 14px;
}

.ref__info {
  color: rgba(255, 255, 255, 1);
  text-align: center;
  width: 75%;
  line-height: 20px;
  margin-bottom: 16px;
}

.ref__link {
  background: linear-gradient(
    0deg,
    rgba(0, 193, 255, 0.5),
    rgba(100, 252, 215, 0.5)
  );
  color: rgba(255, 255, 255, 0.64);
  height: 45px;
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 21px;
}

.star-container {
  position: relative;
  width: fit-content;
  aspect-ratio: 1;
}

.star__num {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-53%, -65%);
  font-size: 12px;
  color: white;
}

.star {
  display: inline-grid;
  width: 33px;
  aspect-ratio: 1;
}
.star:before,
.star:after {
  content: "";
  grid-area: 1/1;
}
.star:before {
  clip-path: polygon(
    100% 50%,
    83.81% 59.06%,
    93.3% 75%,
    74.75% 74.75%,
    75% 93.3%,
    59.06% 83.81%,
    50% 100%,
    40.94% 83.81%,
    25% 93.3%,
    25.25% 74.75%,
    6.7% 75%,
    16.19% 59.06%,
    0% 50%,
    16.19% 40.94%,
    6.7% 25%,
    25.25% 25.25%,
    25% 6.7%,
    40.94% 16.19%,
    50% 0%,
    59.06% 16.19%,
    75% 6.7%,
    74.75% 25.25%,
    93.3% 25%,
    83.81% 40.94%
  );
  background: linear-gradient(
    0deg,
    rgba(0, 193, 255, 1),
    rgba(100, 252, 215, 1)
  );
}
