.transaction-card {
  height: 6vh;
  margin: 0 0 20px 0;
  justify-content: space-between;
}

.transaction-card__cont {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.transaction-card__img-cont {
  height: 33px;
  aspect-ratio: 1/1;
  background: linear-gradient(
    90deg,
    rgba(0, 193, 255, 0.4),
    rgba(100, 252, 215, 0.4)
  );
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transaction-card__status-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}

.transaction-card__mainText {
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}

.transaction-card__subText {
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.64);
}

.transaction-card__info-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-right: 18px;
}
