.overlay {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1f202f9d;
  animation: showOverlay 0.3s ease-in-out;
}

.overlayClose {
  animation: hideOverlay 0.5s ease-in;
}

@keyframes showOverlay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hideOverlay {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.modal {
  position: fixed;
  z-index: 10;
  top: 36vh;
  left: 10px;
  height: 60vh;
  background: #1f202f;
  border-radius: 5%;
  animation: popUp 0.3s ease-in-out;
}

.modalClose {
  animation: popDown 0.5s ease-in;
}

@keyframes popUp {
  0% {
    top: 200vh;
  }
  100% {
    top: 36vh;
  }
}

@keyframes popDown {
  0% {
    top: 36vh;
  }
  100% {
    top: 200vh;
  }
}

.modal__closeBtn {
  position: absolute;
  right: 5%;
  top: 6%;
  background: #3c404c;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__closeBtn > img {
  width: 10px;
  height: 10px;
}

.modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
}

.modal__img {
  margin-top: 7%;
  width: 25%;
}

.modal__title {
  display: block;
  width: 80%;
  margin-top: 10%;
  margin-bottom: 5%;
  text-align: center;
  font-size: 18.5px;
  line-height: 130%;
}

.modal__text {
  display: block;
  width: 80%;
  text-align: center;
  font-size: 14.5px;
  line-height: 150%;
}

.modal__acceptBtn {
  position: absolute;
  width: calc(100% - 60px);
  bottom: 7%;
  margin-top: 5%;
}
