.rewardModal {
  display: flex;
  justify-content: center;
  animation: none;
  top: 20vh;
  background: rgb(34, 4, 152);
  background: linear-gradient(15deg, #210399 20%, #0b0133 80%);
}

.rewardModal__closeBtn {
  background-color: #11265e;
}

.rewardModal__header {
  pointer-events: none;
  display: flex;
  align-items: center;
  height: 60px;
  width: 59%;
  text-align: center;
  margin: 0;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to top, #64fcd7, #00c1ff);
}

.rewardModal__header:before {
  background: linear-gradient(0deg, #0b0133, #210399) border-box;
}

.rewardModal__acceptBtn {
  width: 80%;
  margin: 0;
}

.rewardModal__content {
  margin-top: 18%;
  flex-direction: row;
  flex-wrap: wrap;
  height: 70%;
  width: 80%;
  justify-content: space-between;
  align-items: normal;
}

.rewardModal__item {
  flex-shrink: 0;
  position: relative;
  width: 26%;
  height: 25%;
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rewardModal__item:last-of-type {
  width: 100%;
}

.rewardModal__item:last-of-type > p {
  margin-top: 5%;
}

.rewardModal__item:before {
  border-radius: 10px;
  border: 2px solid transparent;
  background: linear-gradient(0deg, #64fcd7, #00c1ff) border-box;
}

.rewardModal__item_current:before {
  background: linear-gradient(0deg, #19ff6b, #54946b) border-box;
}

.rewardModal__itemHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
  border-radius: 10px 10px 0 0;
  background: linear-gradient(0deg, #00c1ff, #64fcd7) border-box;
}

.rewardModal__itemHeader_current {
  background: linear-gradient(0deg, #54946b, #19ff6b) border-box;
}

.rewardModal__dayText {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(15deg, #210399 20%, #0b0133 80%);
}

.rewardModal__infoText {
  margin-top: 25%;
  color: transparent;
  -webkit-background-clip: text;
  width: 50%;
  text-align: center;
  background-clip: text;
  background-image: linear-gradient(0deg, #00c1ff, #64fcd7);
  font-size: 14px;
  font-weight: 700;
}

.rewardModal__item_current > p {
  background-image: linear-gradient(0deg, #54946b, #19ff6b);
}
